.pointer {
    cursor: pointer;
}

.form-margin {
  margin-bottom: 10px;
}

.failure {
  background-color: red;
}

body {
  padding-top: 20px;
}

.form-inline input {
    width:200px;
}

.play-cell {
  vertical-align:middle;
}

#create-test-button {
  width: 200px;
}

.badge-danger {
  background-color: #d9534f;
}

.badge-success {
  background-color: #5cb85c;
}

#show-results {
  width: 150px;
}

#tenant-column {
  width: 170px;
}

#playbutton {
  margin-top: 5px;
}

#header {
  font-size: 20px;
}