.pointer {
    cursor: pointer;
}

.dashboard-panel-6 {
   width: 49%;
}

.well-height {
  min-height: 250px;
}

.form-margin {
  margin-bottom: 10px;
}

.failure {
  background-color: red;
}

body {
  padding-top: 20px;
}

.form-inline input {
    width:200px;
}

.play-cell {
  vertical-align:middle;
}

.nav-tabs {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.tab-content {
  /*border-radius: 2px 6px 6px 6px;*/
  min-height: 247px;
}

.numbers {
  width: 150px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #ffffff #ffffff #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #f5f5f5;
  border-bottom-color: #f5f5f5;
}

.nav-tabs.nav-append-content > li.active:first-child:before,
.tab-content {
  background-color: #f5f5f5;
}

.success {
  color: #2ecc71;
}

.danger {
  color: #e74c3c;
}

.warning {
  color: #f1c40f;
}

.background {
  background-color: #f5f5f5;
}

#create-test-button {
  width: 200px;
}

.big-cross,.big-check {
  width: 50px;  // 14px * 2
  height: 50px; // 14px * 2
  background-size: 938px 318px;  // original dimensions * 2
  background-position: -624px -48px;  // original position * 2
}

button {
  height: 40px;
}

.badge-danger {
  background-color: #d9534f;
}

.badge-success {
  background-color: #5cb85c;
}

#show-results {
  width: 150px;
}

#tenant-column {
  width: 170px;
}

#playbutton {
  margin-top: 5px;
  float: left;
}

#header {
  font-size: 20px;
}

#bottom {
  margin-top: -5px;
}
.pagination-margin {
  margin-top: 0px;
}