

<div class="row">
<button id="create-test-button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
    Create Test
    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}"></i>
</button>

<button id="create-test-button" class="btn btn-default" ng-click="configCollapsed = !configCollapsed">
    Configure 
    <span class="pull-right fui-gear"></span>
</button>

<hr>
</div>

<div class="row">
<div collapse="configCollapsed">
  <div class="well well-lg">
    <form name="settingsForm" class="form-inline">

      <input class="form-control" type="text" name="smtp" ng-model="settingsData.smtp" placeholder="SMTP Server" />

      <input class="form-control" type="text" name="tenant" ng-model="settingsData.email" placeholder="Email addresses" />


      <button class="btn btn-success" ng-click="saveSettings(settingsData)">
        Save Settings
      </button>        

    </form>
  </div> 
</div>
</div>

<div class="row">
<div collapse="isCollapsed">
  <div class="well well-lg">
    <form name="testForm" class="form-inline" ng-submit="createTest()" novalidate>

      <input 
        ng-model="testData.phone_number" 
        ng-pattern="/^\+\d+$/"
        ng-minlength="12"
        ng-maxlenght="15"
        class="form-control" 
        type="text" 
        name="phone_number" 
        placeholder="Phone Number" 
        required
        tooltip="Phone number must start with + sign and be at least 11 digits"  
        tooltip-trigger="focus" 
        tooltip-placement="top"
      />

      <input 
        ng-model="testData.tenant" 
        ng-minlength="2"
        class="form-control" 
        type="text" 
        name="tenant" 
        placeholder="Tenant" 
        required
        typeahead="tenant for tenant in tenants |filter:$viewValue |limitTo:8"
        typeahead-editable="true"
      />

      <input 
        ng-model="testData.mcp" 
        ng-pattern="/^.*\..*$/"
        ng-minlenght="6"
        class="form-control" 
        type="text" 
        name="mcp"
        placeholder="MCP" 
        required
        tooltip="FQDN or IP address"
        tooltip-trigger="focus"
        tooltip-placement="top"
      />

      <button 
        class="btn btn-success" 
        type="submit" 
        ng-disabled="testForm.$invalid"
      >
        Create Test
      </button>        

    </form>
  </div> 
</div>
</div>

<div class="row">
<div class="well">
<form class="form-inline">
  <input class="form-control" type="text" ng-model="searchTests" placeholder="Search tests..." />
  <button class="btn btn-info" ng-click="copySearchTests()">
    clear
  </button>
</form>

<br>

<div class="table-responsive">
  <table class="table table-striped">

    <thead>
      <tr>
        <td><center><b>Errors</b></center></td>
        <td><b>Phone Number</b></td>
        <td><b>Tenant</b></td>
        <td><b>MCP</b></td>
        <td><b><center>Health</center></b></td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="test in tests |orderBy:'status':true |filter:searchTests">
        


        <td>
          <center>
          <span class="badge" ng-class="{'badge-danger': test.status > 0, 'badge-success': test.status == 0}">
            {{ test.status }}
          </span>
        </center>
        </td>
        

        <td class="pointer" ng-click="copySearchTests(test.phone_number, test.id)">
          {{ test.phone_number }} 
        </td>
        
        <td id="tenant-column" class="pointer" ng-click="copySearchTests(test.tenant.name)"> 
          {{ test.tenant.name }}
        </td>

        <td class="pointer" ng-click="copySearchTests(test.mcp.ip_address); resultsFaded = !resultsFaded">
          {{ test.mcp.ip_address }}
        </td>

        <td>
          <div tooltip="PASS: {{ test.stats[0] }}%&nbsp;&nbsp;  FAIL: {{ test.stats[1] }}% last hour">
           <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
            <bar value="test.stats[0]" type="success"></bar>
            <bar value="test.stats[1]" type="danger"></bar>
           </progress>
          </div>
        </td>
        <td>
            <button id="show-results" class="btn btn-success" ng-click="copySearchTests(test.phone_number); showHide(test.id)" ng-show="!showResults">
              results
              <span class="glyphicon glyphicon-chevron-right pull-right">
            </button>

            <button id="show-results" class="btn btn-success" ng-click="copySearchTests()" ng-show="showResults">
              results
              <span class="glyphicon glyphicon-chevron-down pull-right">
            </button>
        </td>


        <td>
          <button class="btn btn-success btn-condensed" ng-click="copyTest(test)">
            copy
          </button>
  
            <button class="btn btn-danger" ng-click="delete(test.id)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
<div ng-show="spinner"><center><img src="/assets/ajax-loader.gif"></center></div>
<div transition="fade" do-it="resultsFaded">

<div id ="stats-container" class="row">

<div class="dashboard-panel-6 pull-left">
<div class="well">
    <small>Test Health</small>

  <table class="table table-striped">

    <thead>
      <tr>
        <td style="width: 23%;"></td>
        <td style="width: 57%;"></td>
        <td style="width: 10%;"><span class="fui-check-inverted success"></td>
        <td style="width: 10%;"><span class="fui-cross-inverted danger"></td>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>1 Hour</td>
        <td>          
          <div tooltip="PASS: {{ testStats.stats[0] }}%&nbsp;&nbsp;  FAIL: {{ testStats.stats[1] }}% &nbsp;&nbsp;last hour">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.stats[0]" type="success"></bar>
              <bar value="testStats.stats[1]" type="danger"></bar>
            </progress>
          </div>
        <td>{{ testStats.stats[2] }}</td>
        <td>{{ testStats.stats[3] }}</td>
      </tr>

      <tr>
        <td>24 Hours</td>
        <td>          
          <div tooltip="PASS: {{ testStats.stats24[0] }}%&nbsp;&nbsp;  FAIL: {{ testStats.stats24[1] }}% &nbsp;&nbsp;last 24 hours">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.stats24[0]" type="success"></bar>
              <bar value="testStats.stats24[1]" type="danger"></bar>
            </progress>
          </div>
        </td>
        <td>{{ testStats.stats24[2] }}</td>
        <td>{{ testStats.stats24[3] }}</td>
      </tr>

      <tr>
        <td>7 Days</td>
        <td>         
          <div tooltip="PASS: {{ testStats.stats24x7[0] }}%&nbsp;&nbsp;  FAIL: {{ testStats.stats24x7[1] }}%  &nbsp;&nbsp;last 7 days">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.stats24x7[0]" type="success"></bar>
              <bar value="testStats.stats24x7[1]" type="danger"></bar>
            </progress>
          </div>
        </td>
        <td>{{ testStats.stats24x7[2] }}</td>
        <td>{{ testStats.stats24x7[3] }}</td>
      </tr>
    </table>
</div>
</div>

<div class="dashboard-panel-6 pull-right">

  <tabset>
    <tab heading="MCP" class="pointer">
  <table class="table table-striped">

    <thead>
      <tr>
        <td style="width: 24%;"></td>
        <td style="width: 40%;"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-check-inverted success" tooltip="Successes"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-cross-inverted danger" tooltip="Failures"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-question warning" tooltip="Unknown test results, this may indicate an issue connecting to the MCP"></td>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>1 Hour</td>
        <td>
          <div tooltip="PASS: {{ testStats.mcp_stats[3] }}%&nbsp;&nbsp;  FAIL: {{ testStats.mcp_stats[4] }}% &nbsp;&nbsp;UNKNOWN: {{ testStats.mcp_stats[5] }}%">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.mcp_stats[3]" type="success"></bar>
              <bar value="testStats.mcp_stats[4]" type="danger"></bar>
              <bar value="testStats.mcp_stats[5]" type="warning"></bar>
            </progress>
          </div>
        <td>{{ testStats.mcp_stats[0] }}</td>
        <td>{{ testStats.mcp_stats[1] }}</td>
        <td>{{ testStats.mcp_stats[2] }}</td>

      </tr>

      <tr>
        <td>24 Hours</td>
        <td>
          <div tooltip="PASS: {{ testStats.mcp_stats24[3] }}%&nbsp;&nbsp;  FAIL: {{ testStats.mcp_stats24[4] }}% &nbsp;&nbsp;UNKNOWN: {{ testStats.mcp_stats24[5] }}%">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.mcp_stats24[3]" type="success"></bar>
              <bar value="testStats.mcp_stats24[4]" type="danger"></bar>
              <bar value="testStats.mcp_stats24[5]" type="warning"></bar>
            </progress>
          </div>
        <td>{{ testStats.mcp_stats24[0] }}</td>
        <td>{{ testStats.mcp_stats24[1] }}</td>
        <td>{{ testStats.mcp_stats24[2] }}</td>

      </tr>

      <tr>
        <td>7 Days</td>
        <td>
          <div tooltip="PASS: {{ testStats.mcp_stats24x7[3] }}%&nbsp;&nbsp;  FAIL: {{ testStats.mcp_stats24x7[4] }}% &nbsp;&nbsp;UNKNOWN: {{ testStats.mcp_stats24x7[5] }}%">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.mcp_stats24x7[3]" type="success"></bar>
              <bar value="testStats.mcp_stats24x7[4]" type="danger"></bar>
              <bar value="testStats.mcp_stats24x7[5]" type="warning"></bar>
            </progress>
          </div>
        <td>{{ testStats.mcp_stats24x7[0] }}</td>
        <td>{{ testStats.mcp_stats24x7[1] }}</td>
        <td>{{ testStats.mcp_stats24x7[2] }}</td>

      </tr>
    </table>
  </tab>

  <tab heading="Tenant" class="pointer">
  <table class="table table-striped">

    <thead>
      <tr>
        <td style="width: 24%;"></td>
        <td style="width: 40%;"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-check-inverted success" tooltip="Successes"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-cross-inverted danger" tooltip="Failures"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-question warning" tooltip="Unknown test results, this may indicate an issue connecting to the MCP"></td>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>1 Hour</td>
        <td>
          <div tooltip="PASS: {{ testStats.tenant_stats[3] }}%&nbsp;&nbsp;  FAIL: {{ testStats.tenant_stats[4] }}% &nbsp;&nbsp;UNKNOWN: {{ testStats.tenant_stats[5] }}%">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.tenant_stats[3]" type="success"></bar>
              <bar value="testStats.tenant_stats[4]" type="danger"></bar>
              <bar value="testStats.tenant_stats[5]" type="warning"></bar>
            </progress>
          </div>
        <td>{{ testStats.tenant_stats[0] }}</td>
        <td>{{ testStats.tenant_stats[1] }}</td>
        <td>{{ testStats.tenant_stats[2] }}</td>

      </tr>

      <tr>
        <td>24 Hours</td>
        <td>
          <div tooltip="PASS: {{ testStats.tenant_stats24[3] }}%&nbsp;&nbsp;  FAIL: {{ testStats.tenant_stats24[4] }}% &nbsp;&nbsp;UNKNOWN: {{ testStats.tenant_stats24[5] }}%">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.tenant_stats24[3]" type="success"></bar>
              <bar value="testStats.tenant_stats24[4]" type="danger"></bar>
              <bar value="testStats.tenant_stats24[5]" type="warning"></bar>
            </progress>
          </div>
        <td>{{ testStats.tenant_stats24[0] }}</td>
        <td>{{ testStats.tenant_stats24[1] }}</td>
        <td>{{ testStats.tenant_stats24[2] }}</td>

      </tr>

      <tr>
        <td>7 Days</td>
        <td>
          <div tooltip="PASS: {{ testStats.tenant_stats24x7[3] }}%&nbsp;&nbsp;  FAIL: {{ testStats.tenant_stats24x7[4] }}% &nbsp;&nbsp;UNKNOWN: {{ testStats.tenant_stats24x7[5] }}%">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.tenant_stats24x7[3]" type="success"></bar>
              <bar value="testStats.tenant_stats24x7[4]" type="danger"></bar>
              <bar value="testStats.tenant_stats24x7[5]" type="warning"></bar>
            </progress>
          </div>
        <td>{{ testStats.tenant_stats24x7[0] }}</td>
        <td>{{ testStats.tenant_stats24x7[1] }}</td>
        <td>{{ testStats.tenant_stats24x7[2] }}</td>

      </tr>
    </table>

  </tab>
  </tabset>
  </div>

<!--     <div class="well" style="position: relative;">
  <div id="wavesurfer{{ testData.results.last.id }}">
    <wave-surfer recording="{{ testData.result.last.recording }}" resultId="{{ testData.result.last.id }}"></wave-surfer>
  </div>
  </div> -->
</div>
</div>

</div>
<div transition="fade" do-it="resultsFaded">
<div class="row">
<div class="well">
  <div class="form-inline pull-left">
    <input class="form-control" type="text" ng-model="searchResults" placeholder="Search results..." />
    <button class="btn btn-info" ng-click="copySearchResults()">
      clear
    </button>
  </div>
  <div class="pagination pull-right pagination-margin">
    <pagination 
      total-items="totalItems" 
      page="currentPage" 
      class="pointer" 
      boundary-links="true" 
      rotate="true"
      max-size="5"
    ></pagination>
  </div>



  <table class="table table-striped">
    <thead>
      <tr>
        <td><b></b></td>
        <td><b></b></td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="result in filteredResults |filter:searchResults |orderBy:'updated_at':true |startFrom:(currentPage-1)*pageSize |limitTo:pageSize" on-finish-render>

<!-- <p><i class="fa fa-camera-retro fa-lg"></i> fa-camera-retro</p>
<p><i class="fa fa-camera-retro fa-2x"></i> fa-camera-retro</p>
<p><i class="fa fa-camera-retro fa-3x"></i> fa-camera-retro</p>
<p><i class="fa fa-camera-retro fa-4x"></i> fa-camera-retro</p>
<p><i class="fa fa-camera-retro fa-5x"></i> fa-camera-retro</p> -->

        <td>
  <!--         ng-class="{'glyphicon-chevron-down': !isCollapsed, 'glyphicon-chevron-right': isCollapsed}"
            <td style="width: 14%;" class="numbers"><span class="fui-check-inverted success" tooltip="Successes"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-cross-inverted danger" tooltip="Failures"></td> -->
          <!-- <p style="white-space: pre;"><small>{{ result.log }}</small></p> -->
          <i class="fui fa-check-circle fa-2x success"></i>
          <div ng-class="{'fa fa-check-circle fa-2x success': result.status == 0, 'fa fa-times-circle fa-2x danger': result.status == 1}"></div>
          <div id="wavesurfer{{ result.id }}" class="wave-background"></div>

        </td>

        <td> 
          {{ result.time_ago }} ago
        </td>

      </tr>
    </tbody>
  </table>
</div>
</div>
</div>