<h1>{{ test.phone_number }}</h1>


<table class="table table-striped table-bordered">

  <thead>
    <tr>
      <td>Status</td>
      <td>Phone Number</td>
      <td>Tenant</td>
      <td>MCP</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td></td>
      <td> {{ test.phone_number }} </td>
      <td> {{ test.tenant.name }} </td>
      <td> {{ test.mcp.ip_address }} </td>

      <td>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>

<legend>Search results</legend>
<div class="form-horizontal form-margin">
  <input type="text" ng-model="search" placeholder="Search..." />
  <button class="btn btn-info" ng-click="copySearch()">clear</button>
</div>

<table class="table table-striped table-bordered">

  <thead>
    <tr>
      <td>Recording</td>
      <td>Log</td>
      <td>Timestamp</td>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="result in test.results |filter:search">
      <td>
        <a href="{{ result.result.recording }}">{{ result.result.recording }}</a>
        <audio data-player-control="audio1" data-player-name="audio1" audio-player>
>
          <source ng-src="http://localhost:3000/assets/{{ result.result.recording }}" type="audio/wav">
        </audio>
        {{ result.result.recording }}
      </td>        
      <td><p style="white-space: pre;">{{ result.result.log }} </p></td>
      <td> {{ result.result.updated_at }} </td>

    </tr>
  </tbody>
</table>



{{ test }}
