<div class="row">
  <button 
    id="create-test-button" 
    class="btn btn-default ff-b" 
    ng-click="isCollapsed = !isCollapsed" 
  >
    Create Test
    <i 
      ng-class="{'glyphicon glyphicon-chevron-down ff-i pull-right': !isCollapsed, 'glyphicon glyphicon-chevron-right ff-i pull-right': isCollapsed}"
    ></i>
  </button>

  <button 
    id="create-test-button" 
    class="btn btn-default ff-b" 
    ng-click="configCollapsed = !configCollapsed"
  >
    Configure
    <i 
      class="fa fa-gear fa-lg ff-i pull-right"
    ></i>
  </button>

  <hr>
</div>

<div class="row">
  <div collapse="configCollapsed">
    <div class="well well-lg">
      <form name="settingsForm" class="form-inline">

        <input 
          class="form-control" 
          type="text" 
          name="smtp" 
          ng-model="settingsData.smtp" 
          placeholder="SMTP Server" 
        />

        <input 
          class="form-control" 
          type="text" 
          name="tenant" 
          ng-model="settingsData.email" 
          placeholder="Email addresses" 
        />

        <button 
          class="btn btn-success" 
          ng-click="saveSettings(settingsData)"
        >
          Save Settings
        </button>        

      </form>
    </div> 
  </div>
</div>


<div class="row">
  <div collapse="isCollapsed">
    <div class="well well-lg">
      <form 
        name="testForm" 
        class="form-inline" 
        ng-submit="createTest()" 
        novalidate
      >
        <input 
          ng-model="testData.phone_number" 
          ng-pattern="/^\+\d+$/"
          ng-minlength="12"
          ng-maxlenght="15"
          class="form-control" 
          type="text" 
          name="phone_number" 
          placeholder="Phone Number" 
          required
          tooltip="Phone number must start with + sign and be at least 11 digits"  
          tooltip-trigger="focus" 
          tooltip-placement="top"
        />
        <input 
          ng-model="testData.tenant" 
          ng-minlength="2"
          class="form-control" 
          type="text" 
          name="tenant" 
          placeholder="Tenant" 
          required
          typeahead="tenant for tenant in tenants |filter:$viewValue |limitTo:8"
          typeahead-editable="true"
        />

        <input 
          ng-model="testData.mcp" 
          ng-pattern="/^.*\..*$/"
          ng-minlenght="6"
          class="form-control" 
          type="text" 
          name="mcp"
          placeholder="MCP" 
          required
          tooltip="FQDN or IP address"
          tooltip-trigger="focus"
          tooltip-placement="top"
        />

        <button 
          class="btn btn-success" 
          type="submit" 
          ng-disabled="testForm.$invalid"
        >
          Create Test
        </button>      

        <button 
          class="btn btn-info" 
          ng-click="clearCreateTest()"
        >
          clear
        </button>  

      </form>
    </div> 
  </div>
</div>

<div class="row">
    <div class="well">
      <form class="form-inline">
      
        <input 
          class="form-control" 
          type="text" 
          ng-model="searchTests" 
          placeholder="Search tests..." 
        />

        <button 
          class="btn btn-info" 
          ng-click="copySearchTests()"
        >
          clear
        </button>
      </form>

      <br>

      <div class="table-responsive">
        <table class="table table-striped">

          <thead>
            <tr>
              <td>
                <center>
                  <b>
                    Errors
                  </b>
                </center>
              </td>
              <td>
                <b>
                  Phone Number
                </b>
              </td>
              <td>
                <b>
                  Tenant
                </b>
              </td>
              <td>
                <b>
                  MCP
                </b>
              </td>
              <td>
                <center>
                  <b>
                    Health
                  </b>
                </center>
              </td>
            </tr>
          </thead>

          <tbody>
            <tr 
              ng-repeat="test in tests |orderBy:'status':true |filter:searchTests"
            >
              <td>
                <center>
                  <span 
                    class="badge" 
                    ng-class="{'badge-danger': test.status > 0, 'badge-success': test.status == 0}"
                  >
                    {{ test.status }}
                  </span>
                </center>
              </td>
        
              <td 
                class="pointer" 
                ng-click="copySearchTests(test.phone_number, test.id)"
              >
                {{ test.phone_number }} 
              </td>
              
              <td 
                id="tenant-column" 
                class="pointer" 
                ng-click="copySearchTests(test.tenant.name)"
              > 
                {{ test.tenant.name }}
              </td>

              <td 
                class="pointer" 
                ng-click="copySearchTests(test.mcp.ip_address); resultsFaded = !resultsFaded"
              >
                {{ test.mcp.ip_address }}
              </td>

              <td>
                <div 
                  tooltip="PASS: {{ test.stats[0] }}%&nbsp;&nbsp;  
                           FAIL: {{ test.stats[1] }}% last hour"
                >
                  <progress 
                    class="progress-striped active" 
                    max="100" 
                    animated="true" 
                    style="height: 15px;"
                  >
                    <bar 
                      value="test.stats[0]" 
                      type="success"
                    ></bar>
                    <bar 
                      value="test.stats[1]" 
                      type="danger"
                    ></bar>
                  </progress>
                </div>
              </td>

              <td>
                <button 
                  id="show-results"  
                  ng-class="{'btn btn-success ff-b': test.status == 0, 'btn btn-danger ff-b': test.status > 0}" 
                  ng-click="copySearchTests(test.phone_number); showHide(test.id)" 
                  ng-show="!showResults"
                >
                  results
                  <span 
                    class="glyphicon glyphicon-chevron-right ff-i pull-right"
                  ></span>
                </button>

                <button 
                  id="show-results" 
                  ng-class="{'btn btn-success ff-b': test.status == 0, 'btn btn-danger ff-b': test.status > 1}" 
                  ng-click="copySearchTests()" 
                  ng-show="showResults"
                >
                  results
                  <span 
                    class="glyphicon glyphicon-chevron-down ff-i pull-right"
                  ></span>
                </button>
              </td>

              <td>
                <button 
                  class="btn btn-success btn-condensed" 
                  ng-click="copyTest(test)"
                >
                  copy
                </button>
        
                <button 
                  class="btn btn-danger" 
                  ng-click="delete(test.id)"
                >
                  delete
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
</div>

<div 
  ng-show="spinner"
>
  <center>
    <img src="/assets/ajax-loader.gif">
  </center>
</div>

<div 
  transition="fade" 
  do-it="resultsFaded"
>

  <div 
    id="stats-container" 
    class="row"
  >

    <div 
      class="dashboard-panel-6 pull-left"
    >

      <div 
        class="well"
      >

        <small>
          Test Health
        </small>

        <table class="table table-striped">

          <thead>
            <tr>
              <td style="width: 23%;"></td>
              <td style="width: 57%;"></td>
              <td style="width: 10%;">
                <span 
                  class="fui-check-inverted success" 
                  tooltip="Successes"
                ></span>
              </td>
              <td style="width: 10%;">
                <span 
                  class="fui-cross-inverted danger" 
                  tooltip="Failures"
                ></td>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                1 Hour
              </td>
              <td>          
                <div 
                  tooltip="PASS: {{ testStats.stats[0] }}%&nbsp;&nbsp;  
                           FAIL: {{ testStats.stats[1] }}%"
                  >
                  <progress 
                    class="progress-striped active" 
                    max="100" 
                    animated="true" 
                    style="height: 15px;">
                      <bar 
                        value="testStats.stats[0]" 
                        type="success"
                      ></bar>

                      <bar 
                        value="testStats.stats[1]" 
                        type="danger"
                      ></bar>
                  </progress>
                </div>
              </td>
              
              <td> 
                {{ testStats.stats[2] }}
              </td>
              
              <td>
                {{ testStats.stats[3] }}
              </td>
            </tr>

            <tr>
              <td>
                24 Hours
              </td>

              <td>          
                <div 
                  tooltip="PASS: {{ testStats.stats24[0] }}%&nbsp;&nbsp;  
                           FAIL: {{ testStats.stats24[1] }}%"
                  >
                  <progress 
                    class="progress-striped active" 
                    max="100" 
                    animated="true" 
                    style="height: 15px;"
                    >
                    <bar 
                      value="testStats.stats24[0]" 
                      type="success"
                    ></bar>
                    <bar 
                      value="testStats.stats24[1]" 
                      type="danger"
                    ></bar>
                  </progress>
                </div>
              </td>
              <td>
                {{ testStats.stats24[2] }}
              </td>
              <td>
                {{ testStats.stats24[3] }}
              </td>
            </tr>

            <tr>
              <td>
                7 Days
              </td>
              <td>         
                <div 
                  tooltip="PASS: {{ testStats.stats24x7[0] }}%&nbsp;&nbsp;  
                  FAIL: {{ testStats.stats24x7[1] }}%"
                  >
                  <progress 
                    class="progress-striped active" 
                    max="100" 
                    animated="true" 
                    style="height: 15px;"
                    >
                    <bar 
                      value="testStats.stats24x7[0]" 
                      type="success"
                      ></bar>
                    <bar 
                      value="testStats.stats24x7[1]" 
                      type="danger"
                      ></bar>
                    </progress>
                  </div>
                </td>
                
                <td>
                  {{ testStats.stats24x7[2] }}
                </td>
                <td>
                  {{ testStats.stats24x7[3] }}
                </td>
              </tr>
            </table>
          </div>
        </div>

<div class="dashboard-panel-6 pull-right">

  <tabset>
    <tab heading="MCP" class="pointer">
  <table class="table table-striped">

    <thead>
      <tr>
        <td style="width: 24%;"></td>
        <td style="width: 40%;"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-check-inverted success" tooltip="Successes"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-cross-inverted danger" tooltip="Failures"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-question warning" tooltip="Unknown test results, this may indicate an issue connecting to the MCP"></td>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>1 Hour</td>
        <td>
          <div tooltip="PASS: {{ testStats.mcp_stats[3] }}%&nbsp;&nbsp;  FAIL: {{ testStats.mcp_stats[4] }}% &nbsp;&nbsp;UNKNOWN: {{ testStats.mcp_stats[5] }}%">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.mcp_stats[3]" type="success"></bar>
              <bar value="testStats.mcp_stats[4]" type="danger"></bar>
              <bar value="testStats.mcp_stats[5]" type="warning"></bar>
            </progress>
          </div>
        <td>{{ testStats.mcp_stats[0] }}</td>
        <td>{{ testStats.mcp_stats[1] }}</td>
        <td>{{ testStats.mcp_stats[2] }}</td>

      </tr>

      <tr>
        <td>24 Hours</td>
        <td>
          <div tooltip="PASS: {{ testStats.mcp_stats24[3] }}%&nbsp;&nbsp;  FAIL: {{ testStats.mcp_stats24[4] }}% &nbsp;&nbsp;UNKNOWN: {{ testStats.mcp_stats24[5] }}%">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.mcp_stats24[3]" type="success"></bar>
              <bar value="testStats.mcp_stats24[4]" type="danger"></bar>
              <bar value="testStats.mcp_stats24[5]" type="warning"></bar>
            </progress>
          </div>
        <td>{{ testStats.mcp_stats24[0] }}</td>
        <td>{{ testStats.mcp_stats24[1] }}</td>
        <td>{{ testStats.mcp_stats24[2] }}</td>

      </tr>

      <tr>
        <td>7 Days</td>
        <td>
          <div tooltip="PASS: {{ testStats.mcp_stats24x7[3] }}%&nbsp;&nbsp;  FAIL: {{ testStats.mcp_stats24x7[4] }}% &nbsp;&nbsp;UNKNOWN: {{ testStats.mcp_stats24x7[5] }}%">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.mcp_stats24x7[3]" type="success"></bar>
              <bar value="testStats.mcp_stats24x7[4]" type="danger"></bar>
              <bar value="testStats.mcp_stats24x7[5]" type="warning"></bar>
            </progress>
          </div>
        <td>{{ testStats.mcp_stats24x7[0] }}</td>
        <td>{{ testStats.mcp_stats24x7[1] }}</td>
        <td>{{ testStats.mcp_stats24x7[2] }}</td>

      </tr>
    </table>
  </tab>

  <tab heading="Tenant" class="pointer" active>
  <table class="table table-striped">

    <thead>
      <tr>
        <td style="width: 24%;"></td>
        <td style="width: 40%;"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-check-inverted success" tooltip="Successes"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-cross-inverted danger" tooltip="Failures"></td>
        <td style="width: 14%;" class="numbers"><span class="fui-question warning" tooltip="Unknown test results, this may indicate an issue connecting to the MCP"></td>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td>1 Hour</td>
        <td>
          <div tooltip="PASS: {{ testStats.tenant_stats[3] }}%&nbsp;&nbsp;  FAIL: {{ testStats.tenant_stats[4] }}% &nbsp;&nbsp;UNKNOWN: {{ testStats.tenant_stats[5] }}%">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.tenant_stats[3]" type="success"></bar>
              <bar value="testStats.tenant_stats[4]" type="danger"></bar>
              <bar value="testStats.tenant_stats[5]" type="warning"></bar>
            </progress>
          </div>
        <td>{{ testStats.tenant_stats[0] }}</td>
        <td>{{ testStats.tenant_stats[1] }}</td>
        <td>{{ testStats.tenant_stats[2] }}</td>

      </tr>

      <tr>
        <td>24 Hours</td>
        <td>
          <div tooltip="PASS: {{ testStats.tenant_stats24[3] }}%&nbsp;&nbsp;  FAIL: {{ testStats.tenant_stats24[4] }}% &nbsp;&nbsp;UNKNOWN: {{ testStats.tenant_stats24[5] }}%">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.tenant_stats24[3]" type="success"></bar>
              <bar value="testStats.tenant_stats24[4]" type="danger"></bar>
              <bar value="testStats.tenant_stats24[5]" type="warning"></bar>
            </progress>
          </div>
        <td>{{ testStats.tenant_stats24[0] }}</td>
        <td>{{ testStats.tenant_stats24[1] }}</td>
        <td>{{ testStats.tenant_stats24[2] }}</td>

      </tr>

      <tr>
        <td>7 Days</td>
        <td>
          <div tooltip="PASS: {{ testStats.tenant_stats24x7[3] }}%&nbsp;&nbsp;  FAIL: {{ testStats.tenant_stats24x7[4] }}% &nbsp;&nbsp;UNKNOWN: {{ testStats.tenant_stats24x7[5] }}%">
            <progress class="progress-striped active" max="100" animated="true" style="height: 15px;">
              <bar value="testStats.tenant_stats24x7[3]" type="success"></bar>
              <bar value="testStats.tenant_stats24x7[4]" type="danger"></bar>
              <bar value="testStats.tenant_stats24x7[5]" type="warning"></bar>
            </progress>
          </div>
        <td>{{ testStats.tenant_stats24x7[0] }}</td>
        <td>{{ testStats.tenant_stats24x7[1] }}</td>
        <td>{{ testStats.tenant_stats24x7[2] }}</td>

      </tr>
    </table>

  </tab>
  </tabset>
  </div>
</div>
</div>

<div transition="fade" do-it="resultsFaded">

  <div class="row" style="min-height: 100px;">
    <div transition="fade" do-it="waveFaded">
      <div class="col-md-11" style="margin-left: 50px;">

        <div id="wave"></div>
        <div id="wave-timeline"></div>
      
      </div>
    </div>
  </div>
</div>

</div>
<div transition="fade" do-it="resultsFaded">
<div class="row">
<div class="well">
  <!-- <div class="form-inline pull-left"> -->
<!--     <input class="form-control" type="text" ng-model="searchResults" placeholder="Search results..." />
    <button class="btn btn-info" ng-click="copySearchResults()">
      clear
    </button>
  </div> -->

<!--   <label class="checkbox pull-left" for="successes">
    <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span>
    <span class="second-icon fui-checkbox-checked"></span>

  </span>
  <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
    Unchecked
  </label> -->

  <div class="pagination pull-right pagination-margin">
    <pagination 
      total-items="totalItems" 
      page="currentPage" 
      class="pointer" 
      boundary-links="true" 
      rotate="true"
      max-size="5"
      ng-disabled="paginationDisabled"
    ></pagination>
  </div>



  <table class="table table-striped">
    <thead>
      <tr>
        <td><b></b></td>
        <td><b></b></td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="result in filteredResults |filter:searchResults |orderBy:'updated_at':true |startFrom:(currentPage-1)*pageSize |limitTo:pageSize" on-finish-render>
       <!--  <td style="width: 100x;">
           <i class="fa fa-bars fa-2x pull-left" style="margin-right: 20px;" tooltip="View full log"></i>
         </td>
        
        -->
        <td>
          <div class="btn btn-custom" ng-disabled="result.playDisabled"><div id="playwave{{ result.id }}" ng-class="{'success pull-left': result.status == 0, 'danger pull-left': result.status == 1}"></div></div>
          <!-- <div id="playwave{{ result.id }}"></div> -->
        </td>
        



        <td style="width: 60%;">
          <div ng-click="result.show = !result.show" class="pointer">
          {{ result.snippet }} 
            <i ng-class="{'fa fa-chevron-right': result.show == false, 'fa fa-chevron-down': result.show == true }" 
              style="margin-left: 10px;" 
              tooltip="View full log"          
            ></i>
          </div>
          <div collapse="!result.show">
            <pre style="margin-top: 15px;">{{ result.log }}</pre>
          </div>
        </td>



        <td>
    
          <!-- <i class="fa fa-envelope fa-2x" tooltip="Email test result"></i> -->
        </td>
        <td tooltip="{{ result.timestamp }}"> 
          <span class="pull-left">{{ result.time_ago }} ago</span>
        </td>

      </tr>
    </tbody>
  </table>
</div>
</div>
</div>