<!DOCTYPE html>
<html ng-app="vwApp">
<head>
  <title>Genesys VoiceAlert</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">   
      <div class="navbar-header">
        <div class="navbar-brand">
          <img src="/assets/genesys_logo.gif" alt="logo" height="18px">
          Genesys VoiceAlert
        </div>
      </div>
    </nav>


    <div ng-view=""></div>

  </div>
</body>
</html>
