<!DOCTYPE html>
<html ng-app="vwApp">
<head>
  <title>Genesys VoiceAlert</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

          <img src="/assets/genesys_logo.gif" alt="logo" height="50px">
          <span id="header">Genesys VoiceAlert</span>
        <!-- </div> -->
        <br>
        <hr>



    <div ng-view=""></div>

  </div>
</body>
</html>
